*{
    box-sizing: border-box;
}

.barra-nav{

}

.principal{
    margin: 30px 0;
}
.final{
    
}

.info-part{
    background-image: url("./images/slider2.jpg");
}
td{
    background: rgba(0,0,0,0.5);
}
th{
    background: rgba(0,0,0,0.5);
}